.tag {
	color: white !important;
	height: auto !important;
}

div.DTE_Inline div.DTE_Inline_Field div.DTE_Field input, div.DTE_Inline div.DTE_Inline_Buttons div.DTE_Field input {
    width: 250%;
    max-width: 400px;
    height: 60px;
}

