{% extends 'xgds_map_server/mapSearch.html' %}
{% load static %}

{% block sitemenu-content-secondary %}
	{% include "xgds_notes2/notes_subnav.html" %}
{% endblock %}
{% block siteSection %}Notes{% endblock %}

{% block scripts %}
	{{block.super}}
    <script type="text/javascript" src="{% static 'xgds_notes2/js/note_create_form.js' %}"></script>
{% endblock scripts %}
{% block postscripts %}
{% endblock postscripts %}

{% block buttonrowLeft %}
<div id="full_notesDiv">
	<div id="notes_content" class="notes_content mb-2">
		{% include 'xgds_notes2/notes_input_include_full.html' %}
 	</div>
 </div>
{% endblock buttonrowLeft %}

{% block otherJSInit %}
server_time_url = "{% url 'server_time' %}";
serverTimezone = "{{TIME_ZONE}}";

{% block initializeNotes %}
var container = $("#full_notes_input");
xgds_notes.setupNotesUI(container);
xgds_notes.initializeNotesForm(false);
{% endblock initializeNotes %}

{% block eventTimeFunction %}
xgds_notes.getEventTime = function(context) {
		var dataString = "";
		var parent = $(context).closest('.notes_input_container');
	    var event_hidden = parent.find('#id_event_time');
	    if (event_hidden.length == 0){
	    	event_hidden = $("#id_event_time");
	    }
	    var event_timestring = event_hidden.val();
	    
	    try {
	        if (event_timestring !== undefined && event_timestring !== ""){
	        	if (!event_hidden.is(':visible')){ // in a form
		            dataString = dataString + '&event_time=' + event_timestring;
		            try {
		            	var timezone_hidden = parent.find('#id_event_timezone');
		            	dataString = dataString + "&event_timezone=" + timezone_hidden.val();
		            } catch(err){
		            	// no timezone
		            }
			    } else {
		        	var tzified = getUTCTime(event_timestring.substring(0, event_timestring.length-4), serverTimezone);
					var theUtc = tzified.utc().format('YYYY/MM/DD HH:mm:ss') + ' UTC';
		            dataString = dataString + '&event_time=' + theUtc;
		            try {
		            	dataString = dataString + "&event_timezone=" + serverTimezone;
		            } catch(err){
		            	// no timezone
		            }
		        }
	        } else {
	        	if (event_hidden.is(':visible')){
		            dataString = dataString + "&serverNow=true";
		        }
	        }
	    }
	    catch(err) {
	        dataString = dataString + "&serverNow=true";
	    }
	    return dataString;
	
	};
xgds_notes.postSubmit = function(data) {
   xgds_notes.clear_event_time();
};
{% endblock eventTimeFunction %}

{% block cleanDataFunction %}
xgds_notes.cleanData = function(data, containerDiv){
	var fnc = containerDiv.closest('#full_notes_content');
	if (fnc.length > 0){
		var columns = app.options.searchModels.Note.columns;
		result = [];
		for (var i=0; i < columns.length; i++) {
			result.push(data[columns[i]]);
		}
		return result;
	}
	return data;
}
{% endblock cleanDataFunction %}
xgds_notes.updateRole = function(stuff) {
	var theForm = $("#edit_user_session_form");
	var content = theForm.find("#id_location option:selected").text();
	if (content == '---------'){
		theForm.find("#id_location option[value='{{request.session.notes_user_session.location}}']").attr('selected', 'selected');
		theForm.find("#id_vehicle option[value='{{request.session.notes_user_session.vehicle}}']").attr('selected', 'selected');
		theForm.find("#id_role option[value='{{request.session.notes_user_session.role}}']").attr('selected', 'selected');
		var content = theForm.find("#id_location option:selected").text();
	} 
	content += ', ' + theForm.find("#id_vehicle option:selected").text();
	content += ', ' + theForm.find("#id_role option:selected").text();
	$("#roleLocationVehicle").text(content);
	if (content.indexOf('--') == -1){
		user_session_exists = true;
	}
}

$("#changeRole").click(function(e){
	xgds_notes.editUserSession('xgds_notes.updateRole');
});

xgds_notes.updateRole();

{% if settings.GEOCAM_UTIL_DATATABLES_EDITOR %}
xgds_notes.setupEditingTable = function() {
		if (app.searchResultsView !== undefined){
	        var _editor = new $.fn.dataTable.Editor( {
	        	ajax: '/notes/editNote/_id_',
	            table: '#searchResultsTable', 
	            idSrc:  22,
	            fields: app.searchResultsView.editableColumns
	        });
	        
	        var _this = this;
	        var mmap = app.searchResultsView.lookupModelMap('Note');
	        $('#searchResultsTable').on( 'dblclick', 'tbody td.editable', function (e) {
	        	var col = e.currentTarget._DT_CellIndex.column;
	        	var col_name = mmap.columns[col];
	            _editor.inline( this, col_name );
	        });
	     }
};
xgds_notes.setupEditingTable();

{% endif %}

 var input_initialized = false;
 app.vent.on('searchDiv:visible', function(){
 	if (!input_initialized){
 		var formNote = $("#form-Note");
 		var input = formNote.find('.taginput');
        xgds_notes.initializeInput(input);
        var role = formNote.find("#id_role");
        role.val(role.find("option:first").val());
        var location = formNote.find("#id_location");
        location.val(location.find("option:first").val());
        input_initialized = true;
 	} 
 });
{% endblock otherJSInit %}
