{% extends 'xgds_map_server/mapSearch.html' %}


{% block sitemenu-content-secondary %}
	{% include "xgds_notes2/notes_subnav.html" %}
{% endblock %}

{% block scripts %}
{{block.super}}
	{% include "xgds_notes2/NoteJS.html" with forceUserSession=True%}
	<script type="text/javascript" src="{{ EXTERNAL_URL }}jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.js"></script>
	<script type="text/javascript" src='{{ STATIC_URL }}xgds_core/js/datetimepickerUtils.js'></script>
    {% for template_name, template in templates.items %}
	<script type="text/handlebars" id="template-{{template_name}}">
		{{template|safe}}
	</script>
    {% endfor %}
    {#include "xgds_map_server/SearchForms.html" with searchForms=searchForms #}
    <script type="text/javascript" src="{{ STATIC_URL }}xgds_notes2/js/note_create_form.js"></script>
    <script type="text/javascript">
	    note_submit_url = "{% url 'xgds_notes_record' %}";
	</script>
{% endblock scripts %}

{% block preDashboard %}
 <div id="full_notesDiv">
	<div id="notes_content" class="tab-content active notes_content">
	<button id="advanced_search_button" class="small pull_right">Advanced Search</button>
	{% include 'xgds_notes2/notes_input_include_full.html' %}
	</div>
</div>
{% endblock preDashboard %}

{% block searchResultsDiv %}
<div id="search-results-gridstack-item" class="grid-stack-item" 
		data-gs-x="0" data-gs-y="0"
        data-gs-width="3" data-gs-height="3" >
        <div class="grid-stack-item-content" id="search-results-gridstack-item-content" >
        <i class="icon-lock pinDiv warning"></i>
		<i class="icon-cancel-circled"></i>
		<i class="icon-arrows-ccw right" title="Reload Latest" id="reloadSearchResults"></i>
			<div id="searchResultsDiv" class="notes_list"></div>
		</div>
</div>
{% endblock searchResultsDiv %}

	
{% block otherJSInit %}
server_time_url = "{% url 'server_time' %}";
serverTimezone = "{{TIME_ZONE}}";
var container = $("#full_notes_input");
xgds_notes.setupNotesUI(container);
xgds_notes.initializeNotesForm(false);
xgds_notes.getEventTime = function(context) {
		var dataString = "";
		var event_hidden = $('#id_event_time');
	    var event_timestring = event_hidden.val();
	    try {
	        if (event_timestring !== undefined && event_timestring !== ""){
	        	var tzified = getUTCTime(event_timestring.substring(0, event_timestring.length-4), serverTimezone);
				var theUtc = tzified.utc().format('YYYY/MM/DD HH:mm:ss') + ' UTC';
	            dataString = dataString + '&event_time=' + theUtc;
	            try {
	            	dataString = dataString + "&event_timezone=" + serverTimezone;
	            } catch(err){
	            	// no timezone
	            }
	        } else {
	            dataString = dataString + "&serverNow=true";
	        }
	    }
	    catch(err) {
	        dataString = dataString + "&serverNow=true";
	    }
	    return dataString;
	
	};
xgds_notes.postSubmit = function(data) {
   xgds_notes.clear_event_time();
};
xgds_notes.cleanData = function(data, containerDiv){
	if (containerDiv.attr('id') == 'full_notes_content'){
		var columns = app.options.searchModels.Note.columns;
		result = [];
		for (var i=0; i < columns.length; i++) {
			result.push(data[columns[i]]);
		}
		return result;
	}
	return data;
		
}
xgds_notes.updateRole = function(stuff) {
	var theForm = $("#edit_user_session_form");
	var location = theForm.find("#id_location")[0];
	var content = location.options[location.selectedIndex].innerHTML;
	if (content == '---------'){
		theForm.find("#id_location option[value='{{request.session.notes_user_session.location}}']").attr('selected', 'selected');
		theForm.find("#id_resource option[value='{{request.session.notes_user_session.resource}}']").attr('selected', 'selected');
		theForm.find("#id_role option[value='{{request.session.notes_user_session.role}}']").attr('selected', 'selected');
		var content = theForm.find("#id_location option:selected").text();
	} 
	user_session_exists = true;
	var resource = theForm.find("#id_resource")[0];
	content += ', ' + resource.options[resource.selectedIndex].innerHTML;
	var role = theForm.find("#id_role")[0];
	content += ', ' + role.options[role.selectedIndex].innerHTML;
	$("#roleLocationResource").text(content);
}
$("#changeRole").click(function(e){
	xgds_notes.editUserSession('xgds_notes.updateRole');
	});
xgds_notes.setupEditingTable = function() {
        var _editor = new $.fn.dataTable.Editor( {
        	ajax: '/notes/editNote/_id_',
            table: '#searchResultsTable', 
            idSrc:  20,
            fields: app.searchResultsView.editableColumns
        });
        var _this = this;
        var mmap = app.searchResultsView.lookupModelMap('Note');
        $('#searchResultsTable').on( 'dblclick', 'tbody td.editable', function (e) {
        	var col = e.currentTarget._DT_CellIndex.column;
        	var col_name = mmap.columns[col];
            _editor.inline( this, col_name );
        } );
        };
        xgds_notes.updateRole();
        xgds_notes.setupEditingTable();
 var input_initialized = false;
 app.vent.on('searchDiv:visible', function(){
 	if (!input_initialized){
 		var formNote = $("#form-Note");
 		var input = formNote.find('.taginput');
        xgds_notes.initializeInput(input);
        var role = formNote.find("#id_role");
        role.val(role.find("option:first").val());
        var location = formNote.find("#id_location");
        location.val(location.find("option:first").val());
        input_initialized = true;
 	} 
 });
{% endblock otherJSInit %}