	<script type="text/javascript" src="{{ EXTERNAL_URL }}datatables/media/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="{{ EXTERNAL_URL }}datatables-select/js/dataTables.select.js"></script>
	{% if settings.GEOCAM_UTIL_DATATABLES_EDITOR %}
  		<script type="text/javascript" src="{{ EXTERNAL_URL }}datatables-editor/js/dataTables.editor.js"></script>
  	{% endif %}
  	<script type="text/javascript" src="{{ EXTERNAL_URL }}datatables-sorting-datetime-moment/index.js"></script>

