<script language="javascript" type="text/javascript">
	    server_time_url = "{% url 'server_time' %}";
	    note_submit_url = "{% url 'record_simple' %}";
</script>
{% include "xgds_core/timeJS.html" %}
<script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}bootstrap/dist/js/bootstrap.min.js"></script>
<script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}typeahead.js/dist/typeahead.bundle.min.js"></script> 
<script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}xgds_notes2/js/note_create_form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}xgds_notes2/js/note_input_form_small.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}xgds_notes2/js/note_table.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}xgds_notes2/js/tags_input.js"></script>

