{% extends "base.html" %}

{% block cssExtras %}
<link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}jquery-ui/themes/base/jquery-ui.css" ></link>
{% include "xgds_notes2/NoteCSS.html" %}
{% endblock cssExtras %}

{% block sitemenu-content-secondary %}
	{% include "xgds_notes2/notes_subnav.html" %}
{% endblock %}
	
{% block scripts %}
{{ block.super }}
<script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}jquery-ui/jquery-ui.js"></script>
{% include "xgds_notes2/NoteJS.html" %}
{% endblock scripts %}

