{% load static %}
	<script type="text/javascript" src="{{ EXTERNAL_URL }}datatables/media/js/jquery.dataTables.js"></script>
	<script type="text/javascript" src="{{ EXTERNAL_URL }}datatables.net-select/js/dataTables.select.min.js"></script>
	{% if settings.GEOCAM_UTIL_DATATABLES_EDITOR %}
  		<script type="text/javascript" src="{{ EXTERNAL_URL }}datatables-editor/js/dataTables.editor.js"></script>
  		<script type="text/javascript" src="{% static 'xgds_notes2/js/dataTables.editor.tagsinput.js' %}"></script>
  		<script type="text/javascript">
  		HAS_DATATABLES_EDITOR = true;
  		</script>
  	{% else %}
  		<script type="text/javascript">
  		HAS_DATATABLES_EDITOR = false;
  		</script>
  	{% endif %}
  	<script type="text/javascript" src="{{ EXTERNAL_URL }}datatables.net-plugins/sorting/datetime-moment.js"></script>

