{% load url from future %}
{% block sitemenu-content-secondary %}
{% load nav %}
<div class="sitemenu-nav-secondary">
	<nav class="subnav">
	<ul>
		<li {% currentnav xgds_notes_review %}><a href="{% url 'xgds_notes_review' %}">Review {{ XGDS_NOTES_MONIKER }}</a></li>
		<li {% currentnav xgds_notes_record %}><a href="{% url 'xgds_notes_record' %}">Record {{ XGDS_NOTES_MONIKER }}</a></li>
		<li {% currentnav xgds_notes_edit_tags  %}><a href="{% url 'xgds_notes_edit_tags' %}">Edit Tags</a></li>
		<li {% currentnav xgds_notes_import %}><a href="{# url 'xgds_notes_import' #}">Import</a></li>
  	</ul>
  	</nav>
</div>
{% endblock %}
