{% if user.is_authenticated %}
    <style type="text/css" >
    .checkbox-left-bla {
        width: auto;
        box-shadow: none;
    }
    .noteinput {
        min-height: 30px;
        width: 100%;
        min-width: 465px;
        height: 50px;
    }
    .you-are-alert {
        margin-left:-15px;
        margin-right:-15px;
    }
    .event-time {
        min-width: 150px;
    }
    </style>
<div id="full_notes_input">
    <button id="add_note_button" role="button" class="btn btn-primary add_note_button ml-2 mt-1 mr-1" style="color:white; max-height:1.8rem;">+ {{settings.XGDS_NOTES_NOTE_MONIKER}}</button>
    <div id="add_note_modal" class="modal hide fade notes_content" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Add {{settings.XGDS_NOTES_NOTE_MONIKER}}</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

              </div>
                   <div class="modal-body mt-0 pt-0">
                            <div id="full_notes_content" >
                                <div class="notediv notes_input_container" id="notes_input" >

                                    <form id="create_note" class="create_note_form" action="" method="POST">
                                    <div class="container mt-0 pt-0" >
                                        <div id="error_div" class="row noteerrordiv mt-1">
                                            <span id="error_icon">&nbsp;</span>
                                            <span id="error_content" style="font-size:1.0em; padding-bottom:0px;" class="success small"></span>
                                        </div>
                                        <div class="alert alert-info mb-0 you-are-alert" role="alert">
                                            <div class="row">You are {{ user.first_name }} (<span id="roleLocationVehicle"></span>)
                                            </div>
                                            <div class="row">
                                                <a href="#" id="changeRole" class="font-italic" >change role/location</a>
                                            </div>
                                        </div>
                                        <input type="hidden" id="id_note_submit_url" value="{% url 'xgds_notes_record' %}">
                                        <input type="hidden" id="id_event_timezone" >
                                        <input type="hidden" id="id_app_label" >
                                        <input type="hidden" id="id_model_type" >
                                        <input type="hidden" id="id_object_id" >
                                        <input type="hidden" id="id_position_id" >

                                            <div class="row mt-1" id="event_time_controls2">
                                                <input id="id_event_time" name="event_time" class="event-time mr-1" type="text" style="display: inline-block;" placeholder="time">
                                                <button name="Now" id="nowButton" class="btn btn-primary mt-1">Now</button>
                                            </div>
                                            <div class="row mt-1">
                                                <textarea class="noteinput" id="id_content" type="text" name="content" maxlength="500" placeholder="Enter content here"></textarea>
                                            </div>
                                            <div class="row mt-1">
                                                <input class="taginput"  id="id_tags" placeholder="Choose tags" type="text" />
                                            </div>

                                            <div class="row mt-1 justify-content-start">
                                                <div class='col-sm-6' style="margin-left:-15px;">

                                                    {% if settings.XGDS_NOTES_SHOW_ON_MAP_CHECKBOX %}
                                                    <input id="id_show_on_map" name="show_on_map" type="checkbox" class="form-control pull-left mr-1">Show in GE</input><br/>
                                                    {% endif %}
                                                    <input id="id_keep_tags" name="keep_tags" type="checkbox" class="form-control pull-left mr-1" >Don't clear tags</input>
                                                </div>
                                            </div>
                                            <div class="row mt-1">

                                                <div class="d-flex justify-content-end">
                                                    <input id="save_note" type="submit" value="Save" class="btn btn-primary noteSubmit mr-1"><br/>
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>


                                        </div>
                                  </form>
                                </div>
                        </div>
                   </div>

            </div>
        </div>
    </div>
</div>
{% endif %}
