{% if user.is_authenticated %}
<div class="notediv" id="notes_input" hidden>
	<form id="create_note" class="create_note_form" action="" method="POST">
		<input type="hidden" id="id_event_time" >
		<input type="hidden" id="id_event_timezone" >
		<input type="hidden" id="id_app_label" >
		<input type="hidden" id="id_model_type" >
		<input type="hidden" id="id_object_id" >
		<input type="hidden" id="id_position_id" >
		<div id="error_div" class="noteerrordiv">
			<span id="error_icon">&nbsp;</span>
			<span id="error_content"></span>
		</div>
		<div class="notecontainer" > 
			<label for="id_content" class="notelabel ">Note:</label>
			<textarea class="noteinput"  id="id_content" type="text" name="content" maxlength="500" style="height:50px;"></textarea>
	        <input class="taginput" data-role="tagsinput" id="id_tags" name="tags" placeholder="Choose tags" type="text" />
	        <input id="save_note" type="submit" value="Save" class="mybutton noteSubmit small">
        </div>
  </form>
</div>
{% endif %}
