{% extends 'xgds_notes2/notes_base.html' %}
{% block siteSection %}Record {{settings.XGDS_NOTES_MONIKER}}{% endblock %}

{% load tz %}

{% block cssExtras %}
{{ block.super }}
{% endblock cssExtras %}


{% block content %}
<div id="pre_table">
<p text-align="right">You are {{ user.username }} ({% for key, value in user_session.items %}{{ value }}, {% endfor %}) [<a href="{% url 'xgds_notes_edit_user_session' %}" >change role/location</a>]</p>
<form id="create_note" action="{% url 'xgds_notes_record' %}" method="post">
	<table>
    {{ form.as_table }}
    </table>
    <div id="buttons" >
        <input id="save_note" class="mybutton small" type="submit" value="Save">
    </div>
</form>
<p style="font-style: italic;">Entries logged in the past 12 hours are displayed below.<br/>
<strong>Click to edit content or tags.  Press return to submit changes (even for tags).  Be careful, there is no undo.</strong>
</p>
</div>
<div id="notesDiv" style="minHeight=150px; height=150px">
<div id="messageDiv"></div>
<table id="notesTable" class="display"></table>
</div>
{% endblock content %}

{% block jsInit %}
	var tagInput = $("#create_note").find('input#id_tags');
	xgds_notes.initializeInput(tagInput);
	xgds_notes.initializeNotesForm(true);
{% endblock jsInit %}

{% block scripts %}
<script type="text/javascript">
	    server_time_url = "{% url 'server_time' %}";
	    serverTimezone = "{{TIME_ZONE}}";
</script>
	<script src="{{ EXTERNAL_URL }}jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="{{ EXTERNAL_URL }}jquery-ui/jquery-ui.min.js"></script>
	{% include "xgds_core/timeJS.html" %}
	{% include "xgds_notes2/NoteJS.html" %}
	<script type="text/javascript" src="{{ EXTERNAL_URL }}underscore/underscore-min.js"></script>
	<script type="text/javascript" src="{{ EXTERNAL_URL }}klass/klass.min.js"></script>
	
	{% if SSE %}
	<script type="text/javascript" src='{{STATIC_URL}}xgds_notes2/js/liveNotesTable.js'></script>
	{% else %}
	<script type="text/javascript" src='{{STATIC_URL}}xgds_notes2/js/recordedNotesTable.js'></script>
	{% endif %}
	

<script type="text/javascript">
clearForm = function(){
	var tagInput = $("#create_note").find('input#id_tags');
	tagInput.tagsinput('removeAll');
	
	xgds_notes.clear_event_time();
	$("#create_note").find('textarea#id_content').val('');
}

$('#save_note').click(function(event) {
	event.preventDefault();
    var theForm = $("#create_note");
	var postData = theForm.serializeArray();
	// update the date to be in utc
	var tzified = getUTCTime(postData[0].value, serverTimezone);
	var theUtc = tzified.utc().format('YYYY/MM/DD HH:mm:ss') + ' UTC';
	postData[0].value = theUtc;
    $.ajax(
    {
        url: "{% url 'xgds_notes_record' %}",
        type: "POST",
        dataType: 'json',
        data: postData,
        success: function(data)
        {
        	clearForm();
        	{% if not SSE %}
        	noteController._theDataTable.fnAddData(data[0]);
        	{% endif %}
        },
        error: function(data)
        {
        	console.log("boo");
        }
    });
});

$( document ).ready(function() {
	{% if SSE %}
	{% with filter="" %}
	var thefilter = '{{filter}}';
	noteController = new liveNotes.LiveNotesController({
	           liveNotesStreamURL: "{% url 'xgds_notes_liveNotes_stream' %}"  + thefilter,
	           liveNotesURL: " {% url 'xgds_notes_liveNotes'  %}"  + thefilter,
		       columns: {{ settings.XGDS_NOTES_TABLE_DEFAULT_COLUMNS|safe }}
	       });
	 {% endwith %}
	 {% else %}
	 var minHeight = $( window ).height() - $("#pre_table").height() - 200;
	 if (minHeight < 125) {
	 	minHeight = 125;
	 }
	 noteController = new recordedNotes.RecordedNotesController({
		           recordedNotesURL: "{% url 'xgds_map_server_objectsJson_range' 'XGDS_NOTES_NOTE_MODEL' 12 %}",
		           columns: {{ settings.XGDS_NOTES_TABLE_DEFAULT_COLUMNS|safe }},
		           ordering: "desc",
		           divHeight: minHeight,
		           editable: {% if settings.GEOCAM_UTIL_DATATABLES_EDITOR %}true{% else %} false {% endif %}
		       });
	 {% endif %}
	});


</script>
{% endblock scripts %}
