{% extends "xgds_notes2/notes_base.html" %}
{% load static %}
{% block scripts %}
{{ block.super }}
    <script type="text/javascript" src='{{ EXTERNAL_URL }}fancytree/dist/jquery.fancytree.js'></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}fancytree/dist/src/jquery.fancytree.dnd.js'></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}jquery-ui-contextmenu/jquery.ui-contextmenu.js'></script>
    <script type="text/javascript" src="{% static 'xgds_notes2/js/tags_tree.js' %}"></script>
	<script type="text/javascript" src="{% static 'xgds_notes2/js/tags_input.js' %}"></script>
{% endblock scripts %}

{% block contents %}
<style scoped>
  @import url('{{ EXTERNAL_URL }}fancytree/dist/skin-lion/ui.fancytree.min.css');
  @import url("{% static 'xgds_notes2/css/fancytree_tags.css' %}");
  ul.fancytree-container {
 	 height: 400px;
  	 width: 95%;
  }
</style>

<div id="tagtreeContainer">
	<div class="alert alert-info my-2" role="alert">
	Drag and drop to reorganize tags.  Right-click for menu.
	</div>
	<div class="mb-2">
	<button role="button" class="btn btn-primary fa fa-refresh" alt="refresh" id="refreshTreeLink" onclick="javascript: xgds_notes.refreshTree();"><!-- <i class="fa fa-refresh"  ></i> --></button>
	<a href="#" class="btn btn-primary" onclick="xgds_notes.showAddTagDialog('root', null);" id="addRootButton"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> Root Tag</a>
	<input id="id_tags" class="taginput form-control" data-role="tagsinput" placeholder='Type to check tag' width="200px"/>
	</div>
	<div id="tagtree" ></div> 
 </div>
 
 <div id="addTag" style="display:none">
	<form name='addTagForm' id="addTagForm" action="#" method="post">
		<table>
			{{ addTagForm.as_table }}
		</table>
	</form>
</div>
 
{% endblock contents %}

{% block jsInit %}
{{ block.super }}
   var layerFeedUrl =  "{{ settings.XGDS_NOTES_TAG_TREE_URL }}";
   $.ajax({url: layerFeedUrl,
           dataType: 'json',
           success: $.proxy(function(data) {
           		xgds_notes.initializeTree(data);
         	})
         });
   xgds_notes.initializeInput();
{% endblock %}
