{% extends "xgds_notes2/notes_base.html" %}

{% block scripts %}
{{ block.super }}
    <script type="text/javascript" src='{{ EXTERNAL_URL }}fancytree/dist/jquery.fancytree.js'></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}fancytree/dist/src/jquery.fancytree.dnd.js'></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}jquery-ui-contextmenu/jquery.ui-contextmenu.js'></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}lodash/lodash.min.js'></script>
    <script type="text/javascript" src='{{ STATIC_URL }}xgds_notes2/js/tags_tree.js'></script>
	<script type="text/javascript" src="{{ STATIC_URL }}xgds_notes2/js/tags_input.js"></script>
{% endblock scripts %}

{% block contents %}
<style scoped>
  @import url('{{ EXTERNAL_URL }}fancytree/dist/skin-lion/ui.fancytree.min.css');
  @import url('{{ STATIC_URL }}xgds_notes2/css/fancytree_tags.css');
  ul.fancytree-container {
 	 height: 400px;
  	 width: 95%;
  }
</style>

<div id="tagtreeContainer">
	<strong>Drag and drop to reorganize tags.  Right-click for menu.</strong><br/>
	<i class="icon-arrows-ccw" alt="refresh" id="refreshTreeLink" onclick="javascript: refreshTree();"></i>
	<a href="#" class="button small" onclick="showAddTagDialog('root', null);" id="addRootButton">&nbsp;Add Root Tag&nbsp;</a>
	<input id="id_tags" class="taginput" data-role="tagsinput" placeholder='Type to check tag' width="200px"/>
	<div id="tagtree" ></div> 
 </div>
 
 <div id="addTag" style="display:none">
	<form name='addTagForm' id="addTagForm" action="#" method="post">
		<p id="title_p"></p>
		<table>
			{{ addTagForm.as_table }}
		</table>
	</form>
</div>
 
{% endblock contents %}

{% block jsInit %}
{{ block.super }}
   var layerFeedUrl =  "{{ settings.XGDS_NOTES_TAG_TREE_URL }}";
   $.ajax({url: layerFeedUrl,
           dataType: 'json',
           success: $.proxy(function(data) {
           		initializeTree(data);
         	})
         });
   initializeTags();
   initializeInput();
{% endblock %}
