
<div id="edit_user_session_div" style="display:none">
<form action="#" method="post" id="edit_user_session_form">
    {{ form.as_p }}
</form>
</div>

<script language="javascript">
function editUserSession(nextFunction, context) {
$('#edit_user_session_div').dialog({
	        dialogClass: 'no-close',
	        modal: false,
	        resizable: true,
	        width: 400,
	        closeOnEscape: true,
	        title: "Configure Note Recording",
	        buttons: {
	            'Cancel': function() {
	                $(this).dialog('close');
	            },
	            'Save': function() {
	            	var _dialog = this;
	            	var theForm = $("#edit_user_session_form");
					var postData = theForm.serializeArray();
	                $.ajax(
		            {
		                url: "{% url 'xgds_notes_edit_user_session_ajax' %}",
		                type: "POST",
		                data: postData,
		                dataType: "json",
		                context: $(this),
		                success: function(data)
		                {
		                    user_session_exists=true;
		                    $( this ).dialog( "close" );
		                    window[nextFunction](context);
		                },
		                error: function(data)
		                {	
		                	alert("Please enter values for all the fields");
		                }
		            });
	            }
	        }
	    });
}
</script>